body {
    margin: 0;
    padding: 0;
    overflow: hidden; /* Prevent scroling */
    position: relative;
    /*
    background: url('34068.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000000; /* Set text color to contrast with the background 
    font-family: 'Arial', sans-serif; /* Change the font if needed 
    */
}

nav {
    background-color: #333;
    color: white;
    padding: 15px;
    text-align: center;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    color: white;
    text-decoration: none;
}

.image-container {
    width: 100%;
    height: 100vh; /* 100% of the viewport height */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color:#031e2a;
}

.overlay h1 {
    font-size: 2em;
    margin-bottom: 20px;
}

.overlay button {
    font-size: 1.5em;
    padding: 10px 20px;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
}

footer {
    background-color: #333;
    color: white;
    padding: 15px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer a {
    color: white;
    text-decoration: none;
}

/* Media Query for Smaller Screens */
@media screen and (max-width: 768px) {
    .overlay h1 {
        font-size: 1.5em;
        margin-bottom: 15px;
    }

    .overlay button {
        font-size: 1.2em;
        padding: 8px 16px;
    }
}